% vim: set ft=erlang expandtab softtabstop=4 shiftwidth=4:
{erl_opts, [
    {i, "../../deps"},
    %{parse_transform, lager_transform},
    %bin_opt_info
    debug_info,
    warn_export_all,
    warn_export_vars,
    % warn_missing_spec
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    % warn_missing_spec,
    warnings_as_errors
]}.

{clean_files, ["ebin/*"]}.
