{lib_dirs, ["apps/webnesia", "deps"]}.
{sub_dirs, ["apps/webnesia"]}.

{deps_dir, "deps"}.
{deps, [
        {mochiweb,".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
        {'jquery-tmpl',".*", {git, "git://github.com/BorisMoore/jquery-tmpl.git", "master"}, [raw]},
        {'json2',".*", {git, "git://github.com/douglascrockford/JSON-js.git", "master"}, [raw]}
    ]}.

