% vim: set ft=erlang expandtab softtabstop=4 shiftwidth=4:
{paths, ["apps", "deps"]}.

%% relx will include erts by default. However, if you don't want to include
%% erts you can add the `include_erts` tuple to the config and tell relx not
%% to include it.
{include_erts, false}.

%% relx will not include any system libs by setting the following flag
%% (eg. crypto, asn1, etc)
{system_libs, false}.

%% comment this line to ship a release with the source code included
{include_src, false}.

%% The default start script relx creates is basic. For a more complete start
%% script add the extended_start_script option.
{generate_start_script, true}.
{extended_start_script, true}.

{release,
	{webnesia, "0.0.2"},
	%% list of apps to include in the release
 	[mochiweb,
     mnesia,
     {webnesia, "0.0.2", '='},
 	 sasl]}.

{overlay_vars, "config/overlays/vars.config"}.
{overlay, [
    {mkdir, "log/sasl"},
    {copy, "apps/webnesia/priv", "priv"},
    {copy, "deps/jquery-tmpl/jquery.tmpl.min.js", "priv/www/js/jquery.tmpl.min.js"},
    {copy, "deps/json2/json2.js", "priv/www/js/json2.js"},
    {template, "config/app.config", "releases/{{release_version}}/sys.config"}
]}.
